/* Raspiled - CSS */

body {
	font-family: "Trebuchet MS", "Trebuchet", Arial, Helvetica, "Liberation Sans", "Sans", sans-serif;
    font-size: 10pt;
    font-size: 1.0rem;
    background: #f8f8f8;
}
h1, h2, h3, h4 {
	font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
}
div#raspiled-color-picker svg{
    margin: 0px auto;
}
div.colour-status{
    text-align: center;
    width: 16em;
    margin: 0.5em auto;
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
    font-size: 1.6rem;
}

a{
	text-decoration: none;
}
.preset_button{
	display: inline-block;
	padding: 0.5em 1.0em;
	margin-right: 0.2em;
	margin-bottom: 0.5em;
}

.button_selected{
    border: 3px solid #202020;
}
.button_selected_error{
    border: 3px solid #CC0000;
}

#off_button {
	position: absolute;
	top: 1em;
	right: 1em;
}